/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --clr: #222327;
}

::selection {
    color: #fff;
    background: #6990F2;
}

body {
    font-family: "montserrat";
    display: -moz-grid-line;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #6990F2;
}

nav {
    font-family: "montserrat";
    position: relative;
    margin: 12% auto 0;
    width: 40%;
    height: 50px;
    background: #34495e;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

nav a {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

nav .animation {
    position: absolute;
    height: 100%;
    height: 5px;
    /* top: 0; */
    bottom: 0;
    z-index: 0;
    background: #1abc9c;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

nav a:nth-child(1) {
    width: 20%;
}

a:nth-child(1):hover~.animation {
    width: 20%;
    left: 0;
}

nav a:nth-child(2) {
    width: 20%;
}

nav a:nth-child(2):hover~.animation {
    width: 20%;
    left: 20%;
}

nav a:nth-child(3) {
    width: 20%;
}

nav a:nth-child(3):hover~.animation {
    width: 20%;
    left: 40%;
}

nav a:nth-child(4) {
    width: 20%;
}

nav a:nth-child(4):hover~.animation {
    width: 20%;
    left: 60%;
}

nav a:nth-child(5) {
    width: 20%;
}

nav a:nth-child(5):hover~.animation {
    width: 20%;
    left: 80%;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: inherit;
    background-color: transparent;
    width: 40px;
    height: 80px;
    border: none;
    cursor: pointer;
}

#text-input {
    margin-top: 10px;
    border: 1.5px solid #1abc9c;
    padding: 20px;
    height: 40vh;
}

.container {
    text-align: center;
    /* margin-top: 360px; */
}

.btn {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn1 {
    color: #3498db;
}

.btn1:hover {
    color: #fff;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}

.btn1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn1:hover::before {
    height: 180%;
}

.wrapper {
    font-family: "montserrat";
    width: 37%;
    position: relative;
    margin: 20px auto 0;
    background: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
}

.wrapper header {
    color: #6990F2;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.wrapper form {
    height: 167px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990F2;
}

form :where(i, p) {
    font-family: "montserrat";
    color: #6990F2;
}

form i {
    font-size: 50px;
}

form p {
    margin-top: 15px;
    font-size: 16px;
}

section .row {
    margin-bottom: 10px;
    background: #E9F0FF;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .row i {
    color: #6990F2;
    font-size: 30px;
}

section .details span {
    font-size: 14px;
}

.progress-area .row .content {
    width: 100%;
    margin-left: 15px;
}

.progress-area .details {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}

.progress-area .content .progress-bar {
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
}

.content .progress-bar .progress {
    height: 100%;
    width: 0%;
    background: #6990F2;
    border-radius: inherit;
}

.uploaded-area {
    max-height: 232px;
    overflow-y: scroll;
}

.uploaded-area.onprogress {
    max-height: 150px;
}

.uploaded-area::-webkit-scrollbar {
    width: 0px;
}

.uploaded-area .row .content {
    display: flex;
    align-items: center;
}

.uploaded-area .row .details {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.uploaded-area .row .details .size {
    color: #404040;
    font-size: 11px;
}

.uploaded-area i.fa-check {
    font-size: 16px;
}